.filters {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  gap: 20px;
  padding: 10px;
}

.filters__section .filters__options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 50%;
  flex-wrap: wrap;
}

.filters h1 {
  font-size: 10pt;
  font-family: 'Montserrat';
  text-transform: uppercase;
}

