.restaurant-list__item {
  width: 100%;
  height: 35px;
  display: flex;
  border-bottom: 1px solid var(--text-med);
  justify-content: left;
  padding-left: 40px;
  align-items: center;
  cursor: pointer;
}

.restaurant-list__item--selected {
  color: white;
  background: var(--accent);
}
