.restaurant-list__item {
  width: 95%;
  min-height: 35px;
  padding: 5px;
  display: flex;
  border-bottom: 1px solid var(--text-light);
  color: var(--text-light);
  justify-content: left;
  padding-left: 40px;
  align-items: center;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.restaurant-list__item:hover:not(.restaurant-list__item--selected) {
  background-color: #00000011;
}

.restaurant-list__item--selected {
  color: white;
  background: var(--accent);
}
