.restaurant {
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow-Y: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.marker { 
  font-size: 15pt;
} 

.marker--no {
  color: #DD0000;
}

.marker--yes {
  color: lime;
}

@media screen and (min-width: 1000px) {
  .restaurant--image {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .restaurant--image img {
    transform: translate(-20px, -20px) scale(1.2);
  }
}

.restaurant img {
  max-width: 100%;
}
