:root {
  --accent: #4fbebf;
  --text-dark: #373737;
  --background: #e5e5e6;
  --text-light: #717678;
  --text-med: #4e5456;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
} 

h1, h2, h3, h4, h5, h6 {
  color: var(--text-dark);
}

p {
  color: var(--text-med);
}

.light {
  color: var(--text-light);
}

h1 + .subheading {
  position: relative;
  top: -20px;
}

.filters {
  background-color: white;
}

.restaurant-list {
  background-color: var(--background);
  overflow-Y: auto;
}


.restaurant {
  background-color: #f1f1f2;
  grid-area: restaurant;
}

@media screen and (min-width: 800px) {
  .App {
    grid-template-areas: 'filters filters' 'results restaurant';
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 160px calc(100vh - 160px);
    display: grid;
  }

  .filters {
    grid-area: filters;
  }

  .filters__button {
    display: none;
  }

  .restaurant-list {
    grid-area: results;
    min-width: 300px;
  }

  .menu-bar {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .filters {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 20px 0 #333;
    transition: transform 300ms ease-in-out;
  }
  
  .filters__button {
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    cursor: pointer;
  }

  .filters__button:hover {
    text-decoration: underline;
  }

  .filters:not(.filters--active) {
    transform: translateY(calc(-100vh + 75px));
  }

  .restaurant-list {
    position: absolute; 
    z-index: 2;
    height: 100vh;
    width: 80%;
    box-shadow: 0 0 20px 0px #333;
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }

  .restaurant-list:not(.restaurant-list--active) {
    transform: translateX(calc(-100% - 20px));
  }


}
