:root {
  --accent: #4fbebf;
  --text-dark: #373737;
  --background: #e5e5e6;
  --text-light: #717678;
  --text-med: #4e5456;
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .App {
    grid-template-areas: 'filters filters' 'results restaurant';
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 160px calc(100vh - 160px);
  }
}

@media screen and (max-width: 800px) {
  .App {
    grid-template-areas: 'restaurant';
    /* grid-template-columns: 3fr 10fr; */
    /* grid-template-rows: 160px calc(100vh - 160px); */
  }

  .filters {
    position: absolute; 
  }

  .restaurant-list {
    position: absolute; 
  }
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
} 

h1, h2, h3, h4, h5, h6 {
  color: var(--text-dark);
}

p {
  color: var(--text-med);
}

.light {
  color: var(--text-light);
}

h1 + .subheading {
  position: relative;
  top: -20px;
}

.filters {
  background-color: white;
  grid-area: filters;
}

.restaurant-list {
  background-color: var(--background);
  overflow-Y: auto;
  grid-area: results;
  min-width: 300px;
}


.restaurant {
  background-color: #f1f1f2;
  grid-area: restaurant;
}
