.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 'filters filters' 'results restaurant';
  grid-template-columns: 3fr 8fr;
  grid-template-rows: 1fr 4fr;
}  

.filters {
  background-color: white;
  grid-area: filters;
}

.results {
  background-color: #e0e0e0;
  grid-area: results;
}


.restaurant {
  background-color: #eee;
  grid-area: restaurant;
}
